[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
mysqlclient = "*"
django-redis = "*"
django-recaptcha = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
django-cors-headers = "*"
pyjwt = "*"
captcha = "*"

[dev-packages]

[requires]
python_version = "3.9.10"
